@using SchedulingProblem.Models;
@model ScheduleViewModel


<br />
<div style="width:455px;">
    <div>
        <span>-Id--------</span>
        <span>--------Deadline--------</span>
        <span>--------Penalty--------</span>
    </div>
    <table class="table">

        @foreach (var operation in Model.operations)
        {
            <tr>
                <td><p>@operation.Id</p></td>
                <td><p>@operation.Deadline</p></td>
                <td><p>@operation.Penalty</p></td>
            </tr>
        }


    </table>
    <tr>Summary Penalty: @Model.SummmaryPenalty</tr>
</div>
