@using SchedulingProblem.Models;
@model ManualInputViewModel
@{
    ViewData["Title"] = "NumInput";
}

<h1>NumInput</h1>

<form class="p-a-1" method="post">
    <div class="form-group">
        <label for="Dimension"> Number of elements: </label>
        @Html.TextBoxFor(m => m.NumberOfElements)
    </div>
    <div class="text-center">
        <input type="submit" asp-route-myMethod="OK" value="OK" />
    </div>
</form>

