@using SchedulingProblem.Models;
@model List<ScheduleViewModel>

<h3>Answer</h3>
<p>Best Schedules</p>


        @for (int i = 0; i < Model.Count; i++)
        {
            
                @await Html.PartialAsync("~/Views/AlgoOutputs/ScheduleOutput.cshtml", Model[i])
            
        }

   



