
<h1>NumInput</h1>

<form method="post" action="~/Determined/NumInput">
    <label>Number of Elements:</label><br />
    <input type="number" name="numOfElements" /><br />
    <input type="submit" value="Отправить" />
</form>