@using SchedulingProblem.Models;
@model RandomInputViewModel


<br />
    <table class="table" > 
        <div>
            @foreach (var operation in Model.Schedule.operations)
            {
                <tr>
                    <td><p>@operation.Id</p></td>
                    <td><p>@operation.Deadline</p></td>
                    <td><p>@operation.Penalty</p></td>
                </tr>
            }
        </div>
    </table>