@using SchedulingProblem.Models;
@model List<List<int>>


<br />
<div style="width:455px;">

    <div style="overflow-y:auto; overflow-x:auto; height:440px;width:440px;display: flex;justify-content: space-between;">

        <table class="table">

            @if (Model.First().Count != 0)
            {
                @for (int i = 0; i < Model.Count; i++)
                {

                    <tr>

                        @for (int j = 0; j < Model.Count; j++)
                        {

                            @if (j == 0)
                            {
                                <td>S @(i + 1)</td>
                            }

                            <td><p>@Model[i][j]</p></td>


                        }

                    </tr>
                }
            }



        </table>

        </div>

    </div>
