@using SchedulingProblem.Models;
@model ManualInputViewModel
@{
    ViewData["Title"] = "ScheduleInput";
}


@using (Html.BeginForm("ScheduleInput", "Undetermined", FormMethod.Post))
{
    <div class="row">
        <div class="col">
            Deadline
        </div>
        <div class="col">
            Penalty
        </div>
    </div>
    <div style="overflow-y:auto; overflow-x:auto; height:350px;">


        @for (int i = 0, k = 0; i < Model.NumberOfElements; i++)
        {

            <div class="row">
                @for (int j = 0; j < Model.NumberOfPenalties + 1; j++, k++)
                {
                    <div class="col">
                        @Html.TextBoxFor(x => Model.manualList[k], new { @class = "form-control" })
                    </div>
                }
            </div>

        }
        @Html.HiddenFor(m => m.manualList, new { @class="form-control"});

        @Html.HiddenFor(m => m.NumberOfElements);

        @Html.HiddenFor(m => m.NumberOfPenalties);

    </div>


    <input type="submit" value="Save" class="btn btn-primary" />
}
